.Button {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
}