body {
    font-family: 'Lexend Giga', sans-serif;
    height: 100%
}

.intro {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 32px;
}

@media (min-width: 500px) {

        .Looks {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
            max-width: 1100px;
            margin: 50px auto;
        }

}







